@import "~bootstrap/scss/bootstrap.scss";

.counter {
    margin: auto;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}

.counter div{
    display: inline-block;
    background: #2c2c2c;
    padding: 20px;
    margin: 1px;
    font-size: 40px;
    font-family: 'Squada One', cursive;
    font-weight: 800;
}

i.fa-clock:before {
    font-size: 40px;
}